
@using Microsoft.AspNet.Identity
@using HelpDesk_AdminLte.Models
@using HelpDesk_AdminLte.Utilites





@{UserViewModel curentUserView = null;}

@{

    try
    {
        curentUserView = new CreateUserViewModel().getById(User.Identity.GetUserId());
    }

    catch (Exception ex) { }

}

<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index", "Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>H</b>D</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Help</b>Desk</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Навигация</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @{ if (User.Identity.IsAuthenticated == true)
                    {
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-fw fa-wechat"></i>
                                <span class="label label-success">@curentUserView.Count_MessageNew</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">У Вас @curentUserView.Count_MessageNew новых сообщения </li>

                                @Html.ActionLink("Просмотреть сообщения", "Personalchat", "Messages", routeValues: null, htmlAttributes: new { @class = "btn btn-block btn-primary" })


                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-edit"></i>
                                <span class="label label-warning">@curentUserView.Count_RequestsActive</span>
                            </a>
                            <ul class="dropdown-menu">

                                <li class="header"> Активных заявок @curentUserView.Count_RequestsActive</li>
                               @{ if (User.IsInRole("Client") == true)
                                   {
                                        @Html.ActionLink("Просмотреть заявки", "CreatorI", "Requests", new { idUser = User.Identity.GetUserId() }, htmlAttributes: new { @class = "btn btn-block btn-primary" })
                                    }
                                    else
                                    { @Html.ActionLink("Просмотреть заявки", "SupportI", "Requests", new { idSupport = @curentUserView.IdSupportOrClient }, htmlAttributes: new { @class = "btn btn-block btn-primary" })
                                    }
                                    }
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->

                                    if ((User.IsInRole("Client") == true) && (@curentUserView.Count_RequestsExpired != 0))
                                    {
                            <li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-warning text-yellow"></i>
                                    <span class="label label-danger">@curentUserView.Count_RequestsExpired</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header" style="color:red"> Истекших заявок @curentUserView.Count_RequestsExpired</li>
                                    <li>
                                        <ul class="menu">
                                            <li>
                                                @{ foreach (var name in curentUserView.Name_RequestsExpired)
                                                    {
                                                        <a href="#">
                                                            <h3 style="white-space: nowrap; overflow: hidden; padding: 5px; text-overflow: ellipsis;">
                                                                @name
                                                            </h3>
                                                        </a>
                                                    }
                                                }

                                            </li>
                                        </ul>
                                    </li>
                                    @Html.ActionLink("Просмотреть заявки", "SupportI", "Requests", new { idSupport = @curentUserView.IdSupportOrClient }, htmlAttributes: new { @class = "btn btn-block btn-primary" })
                                </ul>
                            </li>
                                                        }
                                                    }
                }
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src=@curentUserView.Picture class="user-image" alt="User Image">
                        <span class="hidden-xs">
                            @curentUserView.UserName
                            <small>@User.Identity.Name</small>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@curentUserView.Picture" class="img-circle" alt="User Image">
                            <p>
                                @curentUserView.UserName
                                <small>
                                    @curentUserView.Speciality
                                    @curentUserView.Company
                                </small>
                            </p>

                        </li>
@{ if (User.Identity.IsAuthenticated == true)
    {
                        <!-- Menu Body -->
                         <li class="user-body">
                    <div class="row">
                         <div class="text-center">
                            <i class="fa fa-fw fa-key"></i>
                            @Html.ActionLink("Сменить пароль", "ChangePassword", "Manage")
                           
                        </div>
                       
                    </div>
                    <!-- /.row -->
                </li>
                        <!-- Menu Footer-->
        } 
    }
                        <li class="user-footer">
                            <div class="pull-left col-xs-4">
                                @{ if (User.Identity.IsAuthenticated == true)
                                    {
                                        @Html.ActionLink("Профайл", "Details",
                                       User.IsInRole("Client") == true ? "Clients" : "Supports",
                                            new  { id = curentUserView.IdSupportOrClient },
                                            new { @class = "btn btn-default btn-flat" })
                                    }
                                }
                            </div>
                            <div class="pull-right col-xs-4 ">
                                @{ if (User.Identity.IsAuthenticated == true)
                                    {

                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-default btn-flat">Выход</button>
                                        }
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-flat" })
                                    }
                                }

                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
