@using Microsoft.AspNet.Identity
@using HelpDesk_AdminLte.Models
@using HelpDesk_AdminLte.Utilites




@Html.AntiForgeryToken()

@{UserViewModel curentUserView = null;}

@{

    try
    {
        curentUserView = new CreateUserViewModel().getById(User.Identity.GetUserId());
    }

    catch (Exception ex) { }

}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@curentUserView.Picture" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p> @curentUserView.UserName.ToString()  </p>
                @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>*@
            </div>
        </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="@Html.IsSelected(controller: "Home",action: "Index")">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-fw fa-home"></i> <span>Домашняя</span>
                </a>
            </li>

            <li class="@Html.IsSelected(controller: "Dashboard",action: "Index")">
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="fa fa-dashboard"></i> <span>Контрольная панель</span>
                </a>
            </li>
           
            @{if (User.Identity.IsAuthenticated == true)
                {
                    <li class="@Html.IsSelected(controller: "Messages", action: "PersonalChat")">
                        <a href="@Url.Action("PersonalChat", "Messages")">
                            <i class="fa fa-fw fa-wechat"></i> <span>Сообщения</span>
                        </a>
                    </li>

                    <li class="treeview @Html.IsSelected(controller: "Requests")">

                        <a href="@Url.Action("Index", "Requests")">
                            <i class="fa fa-edit"></i> <span>Заявки</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            @{ if (User.IsInRole("Client") == true && curentUserView.Company!=null)
                                {
                                    <li class="@Html.IsSelected(action: "Requests")">
                                        <a href="@Url.Action("CompanyBy", "Requests", new { idClient = curentUserView.IdSupportOrClient })">
                                            <i class="fa fa-circle-o"></i> <span>По компании</span>
                                        </a>
                                    </li>
                                    }
                                }
                                    <li class="@Html.IsSelected(action: "Requests")">
                                        <a href="@Url.Action("CreatorI", "Requests", new { idUser = User.Identity.GetUserId() })">
                                            <i class="fa fa-circle-o"></i> <span> Я создал </span>
                                            <span class="pull-right-container">
                                                <small class="label pull-right bg-light-blue">@curentUserView.Count_RequestsCreated</small>
                                            </span>
                                        </a>
                                    </li>

                                    @{ if (User.IsInRole("Support") == true || User.IsInRole("Admin") == true)
                                        {
                                            <li class="@Html.IsSelected(action: "Requests")">
                                                <a href="@Url.Action("Index", "Requests")">
                                                    <i class="fa fa-circle-o"></i> <span>Все</span>
                                                </a>
                                            </li>
                                            <li class="@Html.IsSelected(action: "Requests")">
                                                <a href="@Url.Action("SupportI", "Requests", new { idSupport = curentUserView.IdSupportOrClient })">
                                                    <i class="fa fa-circle-o"></i> <span> Я решаю </span>
                                                    <span class="pull-right-container">
                                                        <small class="label pull-right bg-red">@curentUserView.Count_RequestsExpired</small>
                                                        <small class="label pull-right bg-yellow">@curentUserView.Count_RequestsActive</small>
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                    }

                                    <li class="@Html.IsSelected(action: "Requests")">
                                        <a href="@Url.Action("Create", "Requests")"><i class="fa fa-circle-o"></i> Создать</a>
                                    </li>

                                </ul>
                    </li>

                    <li class="treeview @Html.IsSelected(controller: "Departments")">
                        <a href="@Url.Action("Index", "Departments")">
                            <i class="fa fa-fw fa-building"></i> <span>Департаменты</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "Departments")">
                                <a href="@Url.Action("Index", "Departments", new { clientId = curentUserView.IdSupportOrClient })">
                                    <i class="fa fa-circle-o"></i><span>Список</span>
                                </a>
                            </li>
                            <li class="@Html.IsSelected(action: "Departments")">
                                <a href="@Url.Action("Index", "Departments")"></a>
                            </li>
                            @{ if (User.IsInRole("Admin") == true)
                                {
                                    <li class="@Html.IsSelected(action: "Departments")">
                                        <a href="@Url.Action("Create", "Departments")">
                                            <i class="fa fa-circle-o"></i> <span> Создать </span>
                                         </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>


                    <li class="treeview @Html.IsSelected(controller: "Supports")">
                        <a href="@Url.Action("Index", "Supports")">
                            <i class="fa fa-fw fa-users"></i> <span>Сотрудники</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "Supports")">
                                <a href="@Url.Action("Index", "Supports")">
                                    <i class="fa fa-circle-o"></i><span>Список</span>
                                </a>
                            </li>
                            <li class="@Html.IsSelected(action: "Supports")">
                                <a href="@Url.Action("Index", "Supports")">  </a>
                            </li>
                            @{ if (User.IsInRole("Admin") == true)
                                {
                                    <li class="@Html.IsSelected(action: "Supports")">
                                        <a href="@Url.Action("Create", "Supports")">
                                            <i class="fa fa-circle-o"></i> <span> Создать </span>
                                          
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>

                    if (User.IsInRole("Support") == true || User.IsInRole("Admin") == true)
                    {

                        <li class="treeview @Html.IsSelected(controller: "Companies")">
                            <a href="@Url.Action("Index", "Companies")">
                                <i class="fa fa-fw fa-industry"></i> <span>Компании</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>

                            <ul class="treeview-menu">
                                <li class="@Html.IsSelected(action: "Companies")">
                                    <a href="@Url.Action("Index", "Companies", new { clientId = curentUserView.IdSupportOrClient })">
                                        <i class="fa fa-circle-o"></i> <span> Список </span>
                                    </a>
                                </li>

                                <li class="@Html.IsSelected(action: "Companies")">
                                    <a href="@Url.Action("Index", "Companies")">  </a>
                                </li>

                                <li class="@Html.IsSelected(action: "Companies")">
                                    <a href="@Url.Action("Create", "Companies")">
                                        <i class="fa fa-circle-o"></i> <span>Создать</span>
                                  </a>
                                </li>

                            </ul>
                        </li>

                        <li class="treeview @Html.IsSelected(controller: "Clients")">
                            <a href="@Url.Action("Index", "Clients")">
                                <i class="fa fa-fw fa-users"></i> <span>Клиенты</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="@Html.IsSelected(action: "Clients")">
                                    <a href="@Url.Action("Index", "Clients", new { clientId = curentUserView.IdSupportOrClient })">
                                        <i class="fa fa-circle-o"></i> <span> Список </span>
                                    </a>
                                </li>

                                <li class="@Html.IsSelected(action: "Clients")">
                                    <a href="@Url.Action("Index", "Clients")">  </a>
                                </li>

                                <li class="@Html.IsSelected(action: "Clients")">
                                    <a href="@Url.Action("Create", "Clients")">
                                        <i class="fa fa-circle-o"></i> <span>Создать</span>
                                        
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="treeview @Html.IsSelected(controller: "UsersAdmin")">
                            <a href="@Url.Action("Index", "UsersAdmin")">
                                <i class="fa fa-fw fa-user-secret"></i> <span>Пользователи</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="@Html.IsSelected(action: "UsersAdmin")">
                                    <a href="@Url.Action("Index", "UsersAdmin", new { clientId = curentUserView.IdSupportOrClient })">
                                        <i class="fa fa-circle-o"></i><span>Список</span>
                                      
                                    </a>
                                </li>
                                <li class="@Html.IsSelected(action: "UsersAdmin")">
                                    <a href="@Url.Action("Index", "UsersAdmin")"></a>
                                </li>

                                <li class="@Html.IsSelected(action: "UsersAdmin")">
                                    <a href="@Url.Action("Create", "UsersAdmin")">
                                        <i class="fa fa-circle-o"></i> <span> Создать </span>

                                    </a>
                                </li>

                            </ul>
                        </li>
                    }
                }
            }


            @{if (User.IsInRole("HD_Develop") == true)
                {
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                        <a href="@Url.Action("Dashboardv1", "Dashboard")">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("Dashboardv1", "Dashboard")"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                            <li class="@Html.IsSelected(action: "Dashboardv2")"><a href="@Url.Action("Dashboardv2", "Dashboard")"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(controller: "Layout") treeview">
                        <a href="@Url.Action("Fixed", "Layout")">
                            <i class="fa fa-files-o"></i>
                            <span>Настройки</span>
                            <span class="pull-right-container">
                                <span class="label label-primary pull-right">4</span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "TopNav")"><a href="@Url.Action("TopNav", "Layout")"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                            <li class="@Html.IsSelected(action: "Boxed")"><a href="@Url.Action("Boxed", "Layout")"><i class="fa fa-circle-o"></i> Boxed</a></li>
                            <li class="@Html.IsSelected(action: "Fixed")"><a href="@Url.Action("Fixed", "Layout")"><i class="fa fa-circle-o"></i> Fixed</a></li>
                            <li class="@Html.IsSelected(action: "CollapsedSidebar")"><a href="@Url.Action("CollapsedSidebar", "Layout")"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(controller: "Widgets")">
                        <a href="@Url.Action("Index", "Widgets")">
                            <i class="fa fa-th"></i> <span>Widgets</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                    <li class="treeview @Html.IsSelected(controller: "Charts")">
                        <a href="@Url.Action("Chartjs", "Charts")">
                            <i class="fa fa-pie-chart"></i>
                            <span>Charts</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "Chartjs")"><a href="@Url.Action("Chartjs", "Charts")"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                            <li class="@Html.IsSelected(action: "Morris")"><a href="@Url.Action("Morris", "Charts")"><i class="fa fa-circle-o"></i> Morris</a></li>
                            <li class="@Html.IsSelected(action: "Flot")"><a href="@Url.Action("Flot", "Charts")"><i class="fa fa-circle-o"></i> Flot</a></li>
                            <li class="@Html.IsSelected(action: "Inline")"><a href="@Url.Action("Inline", "Charts")"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                        </ul>
                    </li>
                    <li class="treeview @Html.IsSelected(controller: "UI")">
                        <a href="@Url.Action("General", "UI")">
                            <i class="fa fa-laptop"></i>
                            <span>UI Elements</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "General")"><a href="@Url.Action("General", "UI")"><i class="fa fa-circle-o"></i> General</a></li>
                            <li class="@Html.IsSelected(action: "Icons")"><a href="@Url.Action("Icons", "UI")"><i class="fa fa-circle-o"></i> Icons</a></li>
                            <li class="@Html.IsSelected(action: "Buttons")"><a href="@Url.Action("Buttons", "UI")"><i class="fa fa-circle-o"></i> Buttons</a></li>
                            <li class="@Html.IsSelected(action: "Timeline")"><a href="@Url.Action("Timeline", "UI")"><i class="fa fa-circle-o"></i> Timeline</a></li>
                            <li class="@Html.IsSelected(action: "Modals")"><a href="@Url.Action("Modals", "UI")"><i class="fa fa-circle-o"></i> Modals</a></li>
                        </ul>
                    </li>
                    <li class="treeview @Html.IsSelected(controller: "Forms")">
                        <a href="@Url.Action("General", "Forms")">
                            <i class="fa fa-edit"></i> <span>Forms</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "General")"><a href="@Url.Action("General", "Forms")"><i class="fa fa-circle-o"></i> General Elements</a></li>
                            <li class="@Html.IsSelected(action: "Advanced")"><a href="@Url.Action("Advanced", "Forms")"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                            <li class="@Html.IsSelected(action: "Editors")"><a href="@Url.Action("Editors", "Forms")"><i class="fa fa-circle-o"></i> Editors</a></li>
                        </ul>
                    </li>
                    <li class="treeview @Html.IsSelected(controller: "Tables")">
                        <a href="@Url.Action("Simple", "Tables")">
                            <i class="fa fa-table"></i> <span>Tables</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "Simple")"><a href="@Url.Action("Simple", "Tables")"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                            <li class="@Html.IsSelected(action: "Data")"><a href="@Url.Action("Data", "Tables")"><i class="fa fa-circle-o"></i> Data tables</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(controller: "Calendar")">
                        <a href="@Url.Action("Index", "Calendar")">
                            <i class="fa fa-calendar"></i> <span>Calendar</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-red">3</small>
                                <small class="label pull-right bg-blue">17</small>
                            </span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Mailbox")">
                        <a href="@Url.Action("Compose", "Mailbox")">
                            <i class="fa fa-envelope"></i> <span>Mailbox</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-yellow">12</small>
                                <small class="label pull-right bg-green">16</small>
                                <small class="label pull-right bg-red">5</small>
                            </span>
                        </a>
                    </li>
                    <li class="treeview @Html.IsSelected(controller: "Examples")">
                        <a href="@Url.Action("Invoice", "Examples")">
                            <i class="fa fa-folder"></i> <span>Examples</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "Invoice")"><a href="@Url.Action("Invoice", "Examples")"><i class="fa fa-circle-o"></i> Invoice</a></li>
                            <li class="@Html.IsSelected(action: "PageProfile")"><a href="@Url.Action("PageProfile", "Examples")"><i class="fa fa-circle-o"></i> Profile</a></li>
                            <li><a href="@Url.Action("Login", "Examples")"><i class="fa fa-circle-o"></i> Login</a></li>
                            <li><a href="@Url.Action("Register", "Examples")"><i class="fa fa-circle-o"></i> Register</a></li>
                            <li><a href="@Url.Action("Lockscreen", "Examples")"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                            <li class="@Html.IsSelected(action: "Page404")"><a href="@Url.Action("Page404", "Examples")"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                            <li class="@Html.IsSelected(action: "Page500")"><a href="@Url.Action("Page500", "Examples")"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                            <li class="@Html.IsSelected(action: "Blank")"><a href="@Url.Action("Blank", "Examples")"><i class="fa fa-circle-o"></i> Blank Page</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i> <span>Multilevel</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Level One
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Level Two
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        </ul>
                    </li>
                    <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                    <li class="header">LABELS</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
                }
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
