@model IEnumerable<HelpDesk_AdminLte.Models.ApplicationUser>

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-fw fa-home"></i>
                @Html.ActionLink("Домашняя", "Index", "Home")
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-2" style="margin: 10px">

                <i class="fa fa-fw fa-users"></i>
                @Html.ActionLink("Создать", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })

            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        @*<h3 class="box-title">Data Table With Full Features</h3>*@
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                      Имя  
                                    </th>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </td>

                                    <th>

                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                   
                                    <td>
                                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default btn-flat-lg" })
                                    </td>
                                </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                       Имя
                                    </th>


                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>

}
