@model HelpDesk_AdminLte.Models.Support
@{
    ViewBag.Title = "Создать";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Создать Сотрудника
        </h1>
        
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-fw fa-home"></i>
                    @Html.ActionLink("Домашняя", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Поддержка", "Index")
                </li>
                <li class="active">
                    @ViewBag.Title
                </li>
            </ol>
    </section>
    <!-- Main content -->
    @using (Html.BeginForm("Create", "Supports", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <section class="content">
        @{if (@ViewBag.ErrorMsg != null)
            {
                <div class="error-content">
                    <i class="fa fa-warning text-yellow"></i>
                    @ViewBag.ErrorMsg
                    @Html.ValidationMessage("Error")
                </div>
            }
        }
                <div class="row">
                    <div class="box box-warning">

                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Name)
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control ", required = "required" } }) 
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Email)
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ", type = "email" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Phone)
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control " }, type = "tel" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.DepartamentID)
                                    @Html.DropDownList("DepartamentID", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Speciality)
                                    @Html.EditorFor(model => model.Speciality, new { htmlAttributes = new { @class = "form-control " }, type = "tel" })
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.UserID)
                                    @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <input checked="checked" class="icheckbox_minimal-red check-box" data-val="true" data-val-required="The Активен field is required." id="Active" name="Active" type="checkbox" value="true">
                                <input name="Active" type="hidden" value="false">
                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.Active)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-group col-md-6">
                                    <input type="file" name="upload" accept="image/*" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    <!-- /.box-body -->
                </div>

        

        <!-- /.box -->
        <!-- /.row -->
        @Html.ActionLink("Вернуться к списку", "Index")
    </section>
        <!-- /.content -->
    }
</div>
<!-- /.content-wrapper -->



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


