@model HelpDesk_AdminLte.Models.Support

@{
    ViewBag.Title = "Редактировать";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Редактировать Сотрудника
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-fw fa-home"></i>
                @Html.ActionLink("Домашняя", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Сотрудники", "Index")
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ol>
    </section>


    <!-- Main content -->
    @using (Html.BeginForm("Edit", "Supports", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.SupportID)
        @Html.HiddenFor(model => model.Image)
        @Html.HiddenFor(model => model.UserID)


    <section class="content">

        <div class="box box-warning">

            <div class="box-body">
                <div class="row">
                    <div class="form-group col-xs-6">
                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control ", required = "required" } })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ", type = "email" } })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Phone)
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control " }, type = "tel" })
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DepartamentID)
                        @Html.DropDownList("DepartamentID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Speciality)
                        @Html.EditorFor(model => model.Speciality, new { htmlAttributes = new { @class = "form-control " } })
                    </div>

                </div>
                
               @{ if (Model.UserID == null)
                   {
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.UserID)
                    @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })

                </div>
                       }
                   }

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="row">
                        <div class="form-group col-md-6">
                            @{if (Model.Image != null)
                                {
                                    try
                                    {
                                        <img class="img-bordered-sm" src="@Model.Image.ToString()" alt="Photo">
                                    }
                                    catch (Exception ex) { }
                                }
                            }
                        </div>
                        <div class="form-group col-md-6">
                            <input type="file" name="upload" accept="image/*" ) />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.Active)
            </div>
            <div class="form-group col-md-4">
                @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "icheckbox_minimal-red" } })
            </div>
            <div class="box-footer">
                <div class="row">

                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>



            </div>
            <!-- /.box-body -->
        </div>


        @Html.ActionLink("Вернуться к списку", "Index")

        <!-- /.box -->
        <!-- /.row -->
    </section>
        <!-- /.content -->
                                    }
</div>
<!-- /.content-wrapper -->



<div>
    @Html.ActionLink("Вернуться к спмску", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


