@model HelpDesk_AdminLte.Models.Requests
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Создать";
}
<head>
    <style>
        textarea {
            width: 100%;
            height: 200px;
            font-size: 14px;
            line-height: 18px;
            border: 1px solid #dddddd;
            padding: 10px;
        }
    </style>
</head>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Создать Заявку
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-fw fa-home"></i>
                @Html.ActionLink("Домашняя", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Заявки", "Index")
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ol>
    </section>
    <!-- Main content -->
    @using (Html.BeginForm("Create", "Requests", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CreatedByUserId, new { @Value = @User.Identity.GetUserId() })

        <section class="content">
            <div class="row">
                <div class="box box-warning">

                    <div class="box-body">

                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.DateCreateRequest)
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <div class="form-control pull-right">
                                        @DateTime.Now.ToShortDateString()
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.DateRequest)
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.EditorFor(model => model.DateRequest,
                     new
                     {
                         htmlAttributes =
                         new
                         {
                             @class = "form-control pull-right",
                             @Value = /*"2019-04-30"*/ @DateTime.Now.AddDays(7).ToString("yyyy-MM-dd")
                         }
                     }
                     )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NameRequest)
                            @Html.EditorFor(model => model.NameRequest, new { htmlAttributes = new { @class = "form-control ", placeholder = "Введите здесь коротко имя заявки", required = "required", maxlength = "50" } })
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.ClientID)
                                @Html.DropDownList("ClientID", null, new { @class = "form-control" })
                            
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.CreatedByUserId)
                                @Html.EditorFor((model => model.User.UserName), new { htmlAttributes = new { @class = "form-control ", @Value = User.Identity.Name, @disabled = "disabled" } })

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.StatusID)
                                @Html.DropDownList("StatusID", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.PriorityID)
                                @Html.DropDownList("PriorityID", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupportID)
                            @Html.DropDownList("SupportID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @{
                                        try
                                        {
                                            string fileName = Model.File.ToString();

                                            @Html.ActionLink(fileName, "GetFile", new { fileName })
                                        }
                                        catch (Exception ex) { }
                                    }
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="file" name="upload" value=@Html.ValueFor(model => model.File) />
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">
                                    @Html.LabelFor(model => model.Description)
                                </h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip"
                                            @*title="Collapse"*@>
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.box-header -->
                            <!-- /.box-header -->
                            <div class="box-body pad">
                                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>
                        @{ if (User.IsInRole("Support") == true || User.IsInRole("Admin") == true)
                            {
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">
                                            @Html.LabelFor(model => model.CommentResolve)
                                        </h3>
                                        <!-- tools box -->
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip"
                                                    @*title="Collapse"*@>
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        @Html.TextAreaFor(model => model.CommentResolve, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                }
                            }
                            </div>
                    <!-- /.box-body -->
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>

                <!-- /.box -->

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    }
</div>
<!-- /.content-wrapper -->



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            //bootstrap WYSIHTML5 - text editor
            $('textarea').wysihtml5()
        })
    </script>
}
