@model HelpDesk_AdminLte.Models.DashboardViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Контрольная панель";
}
@{
var color_progresBar = new string[] {
                         "progress-bar progress-bar-green" ,
                         "progress-bar progress-bar-aqua",
                         "progress-bar progress-bar-red"
                         };


}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title

        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-fw fa-home"></i>
                @Html.ActionLink("Домашняя", "Index", "Home")
            </li>
            <li class="active">
                @ViewBag.Title

            </li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.CountCompanies</h3>
                        <p>@Html.DisplayNameFor(model => model.CountCompanies)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-fw fa-industry"></i>
                    </div>
                    <a href="@Url.Action("Index", "Companies")" class="small-box-footer">Больше информации <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.CountRequest</h3>
                        <p>@Html.DisplayNameFor(model => model.CountRequest)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-edit"></i>
                    </div>
                    <a href="@Url.Action("Index", "Requests")" class="small-box-footer">Больше информации <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.CountDepartment</h3>
                        <p>@Html.DisplayNameFor(model => model.CountDepartment)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-fw fa-industry"></i>
                    </div>
                    <a href="@Url.Action("Index", "Departments")" class="small-box-footer">Больше информации <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@Model.requestBySupport.Count()</h3>
                        <p>@Html.DisplayNameFor(model => model.requestBySupport)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-fw fa-users"></i>
                    </div>
                    <a href="@Url.Action("Index", "Supports")" class="small-box-footer">Больше информации <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->

        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-fw fa-users"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">@Html.DisplayNameFor(model => model.CountClient)</span>
                        <span class="info-box-number">@Model.CountClient</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-fw fa-wechat"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">@Html.DisplayNameFor(model => model.CountMessage)</span>
                        <span class="info-box-number">@Model.CountMessage</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">  @Html.DisplayNameFor(model => model.CountUser)</span>
                        <span class="info-box-number">@Html.ValueFor(model => model.CountUser)</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold">Заявки</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Статус</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body text-center">
                                       
                                       
                                        @{ foreach (var item in Model.requestByStatus)
                                            {
                                                var level = (item.CountReq * 100 / Model.CountRequest).ToString() + "%";

                                                <div class="col-sm-6">
                                                    <!-- Progress bars -->
                                                    <div class="clearfix">
                                                        <span class="pull-left">@item.Name</span>
                                                        <small class="pull-right">@level</small>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-primary progress-bar-striped" style="width:@level;"></div>
                                                    </div>

                                                </div>
                                            }

                                        }
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col (right) -->
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Приоритет</h3>
                                </div>
                                @{ var j = 0;
                                    foreach (var item in Model.requestByPriority)
                                    {
                                        var level = (item.CountReq * 100 / Model.CountRequest).ToString() + "%";

                                        <div class="progress-group">
                                            <span class="progress-text">@item.Name</span>
                                            <span class="progress-number"><b>@item.CountReq</b>/@Model.CountRequest</span>
                                            <div class="progress sm">
                                                <div class="@color_progresBar[j++]"  style="width: @level"></div>
                                             </div>
                                       </div>

                                    }
                                }
                                <!-- /.progress-group -->
                             </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> В системе</span>
                                    <h5 class="description-header">@Model.CountRequest</h5>
                                    <span class="description-text">Заявок</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
      
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts
{

    @Scripts.Render("~/bundles/dashboard2")
}