@model IEnumerable<HelpDesk_AdminLte.Models.Messages>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Conversation.OneUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToUserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Conversation.OneUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDelivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToUserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageID })
        </td>
    </tr>
}

</table>
